body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 600px;
    text-align: center;
    background-color: rgba(153,0,0,.87);
    background: -webkit-radial-gradient(center, rgb(153,0,0) 50%, rgb(50,0,0));
    background: -moz-radial-gradient(center, rgb(153,0,0) 50%, rgb(50,0,0));
    background: radial-gradient(center, rgb(153,0,0) 50%, rgb(50,0,0));
}

header img {
    width: 10%;
    padding: 0;
    margin: 0;
    animation: spin 5s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

nav {
    float: right;
    width: 85%;
    margin: 2%;
    padding: 0;
    text-align: right;
    font-family: sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 1% 4%;
}

nav ul li:hover {
    background-color: rgb(153,0,0);
}

nav ul li:nth-child(4) {
    background-color: rgb(120,0,0);
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}



section {
    width: 700px;
    margin: auto;
    padding: 2%;
    color: white;
    background-color:rgb(120,0,0);
    background: -webkit-radial-gradient(center, rgb(153,0,0) 50%, rgb(50,0,0));
    background: -moz-radial-gradient(center, rgb(153,0,0) 50%, rgb(50,0,0));
    background: radial-gradient(center, rgb(153,0,0) 50%, rgb(50,0,0));
}

section h1 {
    font-size: 200%;
    font-family: sans-serif;
    font-weight: 200;
    letter-spacing: .5em;
    padding-top: 0;
    margin-top: 0;
}

section form {
    width: 75%;
    margin: auto;
}

section form p {
    font-family: sans-serif;
    letter-spacing: .2em;
    padding: 0;
    margin: 0;
}

input, textarea {
    padding: 1% 0;
    margin: 0 0 3% 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 150%;
    background-color: rgba(153,0,0,1);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    transition: .5s;
}

input[type="radio"]{
    padding: 0;
    margin: 0;
}

input[placeholder] {
    font-size: 200%;
}

/* to remove this because of their inconsistent sizing*/
input[type="text"], input[type="telephone"], input[type="email"], input[type="submit"], textarea {
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:hover, input[type="telephone"]:hover, input[type="email"]:hover, input[type="submit"]:hover, textarea:hover {
    transform: scale(1.1);
}

input[type="text"]:valid, input[type="telephone"]:valid, input[type="email"]:valid {
    transform: scale(1.1);
    border: 2px solid white;
}

input[type="submit"] {
    padding: 2%;
    margin: 0;
    background-color:rgb(120,0,0);
}